<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Flintstones</title>
        <link type="text/css" href="lib/tablecloth/tablecloth.css" rel="stylesheet" media="all">
    </head>

    <body>
        <div id="content">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th>Title</th>
                    <th>Title</th>
                    <th>Title</th>
                    <th>Title</th>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                </tr>
            </table>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="lib/tablecloth/tablecloth.js"></script>
        <script src="js/scripts"></script>
    </body>
</html>